.center {
    text-align: center;
}

.pics {
    height: 200px;
    width: 200px;
    border: solid black;
    border-radius: 12%;
}

.imgDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.choiceDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin-top: 20px;
    width: 90px;
}

#gameTitle {
    margin-bottom: 100px;
}

.inline {
    display: inline;
}

.scoreDiv {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-right: 10%;
    margin-left: 10%;
}

.scoreBox {
    border: solid black;
    padding: 10px 50px 10px 10px;
}

.resultDiv {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-right: 10%;
    margin-left: 10%;
}

#winner {
    margin-top: 50px;
}